body {
  margin: 0;
  padding: 0;
}
.world {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: radial-gradient(circle, #e0eaff, #9fe7f5 100%);
}
.world .title {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  text-shadow: 0 0 7px #000;
  position: absolute;
  width: 100%;
  height: 100%;
  margin-top: 25%;
  text-align: center;
}
h1 {
  font-size: 3.5rem;
  padding-bottom: 1rem;
}
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 4rem;
    padding-bottom: 3rem;
  }
}
h2 {
  font-size: 2.5rem;
  margin-top: 1rem;
}
@media only screen and (max-width: 600px) {
  h2 {
    font-size: 3.5rem;
    margin-top: 4rem;
  }
}