body {
  margin: 0;
  padding: 0;
  font-family: 'Press Start 2P', cursive;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(circle, #e0eaff, #9fe7f5 100%);
}
.world {
  position: absolute;
}
.world .title {
  color: #000;
  text-shadow: 0 0 5px #ffffff;
  position: absolute;
  width: 100%;
  margin-top: 8%;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.guesser-team {
  position: absolute;
  color: blue;
  right: 10%;
}

h1 {
  font-size: 2.5rem;
  padding-bottom: 2%;
}
h2 {
  font-size: 2.0rem;
  margin-top: 2%;
}

.shush {
  font-size: 6rem;
}
@media only screen and (max-width: 600px) {
  .world .title {
    margin-top: 10%;
  }
  h1 {
    font-size: 1.6rem;
    padding-bottom: 0rem;
  }
  h2 {
    font-size: 1.1rem;
  }
  .world .title {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .guesser-team {
    display: inline-block;
    width: 100%;
    right: 0;
  }
  .shush {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

